<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Article_List</title>
    <link rel="stylesheet" href="{{ asset('style.css') }}">
</head>

<body>
    <header class="header">
        <ul>
            <li><a href="">Accueil</a> </li>
            <li><a href="">Article</a> </li>
            <li><a href="">News</a></li>
            <li><a href="">Aboout us</a> </li>
        </ul>
    </header>

    <main>

      {% for article in articles %}
      <article>
          {#
          Je génère un lien vers la route articleShow.
          Cette route demande une wildcard 'id', donc je la renseigne
          avec l'id de l'article qui est actuellement en train d'être bouclé.
          #}
          <a href={{ path('categories', {'id': article.id}) }}>
              <h2>{{ article.title }}</h2>
          </a>

        <p>{{ article.content }}</p>
      </article>
      {% endfor %}

    </main>

    <footer class="footer">

    </footer>
</body>
</html>