<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>articleShow</title>
    <link rel="stylesheet" href="{{ asset('style.css') }}">
</head>

<body>
    <h1>{{ article.title }}</h1>
    <p>{{ article.content }}</p>
</body>

</html>